.root {
    -fx-padding: 20;
    -fx-background-color: #f8f9fa;
    -fx-font-family: "Segoe UI";
}

.label {
    -fx-font-size: 14px;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #2980b9;
}
